In [1]:
import numpy as np

In [2]:
file = np.loadtxt('plants_with_delimiter.txt', delimiter=',')

In [3]:
file

array([[1., 2., 3.],
       [4., 5., 6.],
       [7., 8., 9.]])

In [4]:
import pandas as pd

In [5]:
df = pd.DataFrame(file)

In [6]:
df

     0    1    2
0  1.0  2.0  3.0
1  4.0  5.0  6.0
2  7.0  8.0  9.0